<!DOCTYPE html>
<html lang="en">

<head>

    <title>Details</title>
    <%- include('../layouts/head') %> 

</head>

<body>

    <header>

        <%- include('../layouts/header') %> 


    </header>

    <main>

        <div class="container">
            <h3>
                <%= data.country %>
            </h3>


            <h3>
                Confirmed: <%= data.confirmed %>
            </h3>

            <h3>
                Recovered: <%= data.recovered %>

            </h3>

            <h3>
                Total Deaths: <%= data.deaths %>
            </h3>

            <h3>

                Date: <%= data.date %>

            </h3>

            <form action="/details/<%= data.id %>?_method=PUT" method="post">

                <input name="country" value="<%= data.country %>"> <br>
                <input name="confirmed" value="<%= data.confirmed %>"> <br>
                <input name="recovered" value="<%= data.recovered %>"> <br>
                <input name="deaths" value="<%= data.deaths %>"> <br>
                <input name="date" value="<%= data.date %>"> <br>

                <button type="submit">Update Data</button>

            </form>

            <form action="/details/<%= data.id %>?_method=DELETE" method="post">
                <button type="submit"> DELETE </button>
            </form>

        </div>

    </main>

</body>

</html>